<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="elelib/index.css">
    <!-- 引入组件库 -->
    <script src="elelib/vue.js"></script>
    <script src="elelib/index.js"></script>
    <script src="elelib/jquery.js"></script>

    <title>Title</title>
</head>
<body>
<div id="app">

    <el-card>
        <el-collapse v-model="active_names">
            <el-collapse-item title="添加/编辑" name="1">
                <el-form ref="form" :model="form" label-width="40px">
                    <el-form-item label="ID">
                        <el-input v-model="form.cmd_data_id" placeholder="留空为新增" style="width: 340px;"
                                  :disabled="true"></el-input>
                        <el-button type="primary" @click="form.cmd_data_id = ''">清空ID</el-button>
                    </el-form-item>
                    <el-form-item label="名称">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="命令模版">
                        <el-input v-model="form.cmd" type="textarea" :rows="7"></el-input>
                    </el-form-item>
                    <el-button type="primary" @click="saveCmd" v-if="form.cmd_data_id == ''">新增</el-button>
                    <el-button type="primary" @click="saveCmd" v-else>保存</el-button>
                </el-form>

            </el-collapse-item>
        </el-collapse>

        <el-table
                :data="table_data"
                style="width: 100%">
            <el-table-column
                    label="名称"
                    prop="name"
                    width="180">
            </el-table-column>
            <el-table-column
                    label="命令详情"
                    show-overflow-tooltip
                    prop="cmd">
            </el-table-column>
            <el-table-column label="操作"
                             width="300">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="showCmdOption(scope.row)">配置管理
                    </el-button>
                    <el-button
                            size="mini"
                            @click="handleEdit(scope.row)">编辑
                    </el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click="handleDelete(scope.$index, scope.row)">删除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>

    </el-card>

    <el-dialog :title="cmd_option_title" :visible.sync="show_cmd_option">
        <el-form label-position="left">
            <el-form-item label="配置" label-width="100px">
                <el-select v-model="option_data_result" placeholder="选择配置">
                    <el-option v-for="(item,index) in form.option_data" :label="item.name" :value="index"></el-option>
                </el-select>
            </el-form-item>

            <el-form-item label="配置名" label-width="100px" v-if="option_data_result == 0">
                <el-input v-model="add_cmd_option_name"></el-input>
            </el-form-item>

            <div v-if="option_data_result > 0 ">
                <el-form-item :label="item.name" label-width="100px"
                              v-for="item in form.option_data[option_data_result].cmd_option">
                    <el-input v-model="item.value" autocomplete="on" :placeholder="item.name"
                              v-if="item.pre_arg.indexOf('{$$}') > -1"></el-input>
                    <el-tooltip :content="item.name" effect="light" v-else>
                        <el-switch v-model="item.value"></el-switch>
                    </el-tooltip>
                </el-form-item>
            </div>
            <div v-else>
                <el-form-item :label="item.name" label-width="100px"
                              v-for="item in cmd_option">
                    <el-input v-model="item.value" autocomplete="on" :placeholder="item.name"
                              v-if="item.pre_arg.indexOf('{$$}') > -1"></el-input>
                    <el-tooltip :content="item.name" effect="light" v-else>
                        <el-switch v-model="item.value"></el-switch>
                    </el-tooltip>
                </el-form-item>
            </div>

            <el-form-item label="预执行命令" label-width="100px">
                <el-input :value="show_cmd_option?preCmd(0):''" type="textarea" :rows="7" :disabled="true"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button type="primary" @click="saveOption()">保存配置</el-button>
            <el-button type="primary" @click="startCmd(preCmd())">执行</el-button>
        </div>
    </el-dialog>
</div>

<style>
    .el-form-item__label ,.cell{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
<script>
    var app = new Vue({
        el: '#app',
        data: function () {
            return {
                form: {
                    cmd_data_id: "",
                    cmd: "",
                    name: "",
                    option_data: [],
                },
                active_names: "",
                cmd_option_title: "",
                cmd_option: [],
                add_cmd_option_name: "",
                option_data_result: 0,
                option_data_main_cmd: "",
                table_data: [],
                show_cmd_option: false
            }
        },
        methods: {
            saveOption: function () {
                if (app.option_data_result == 0) {
                    var name = app.add_cmd_option_name;
                    app.form.option_data.push({
                        name: name,
                        cmd_option: app.cmd_option
                    })
                }

                var send_data = JSON.parse(JSON.stringify(app.form));
                send_data.option_data = JSON.stringify(app.form.option_data);
                $.post("/Api/App/Cmd/save.json", send_data, function (data) {
                    if (data.code != 0) {
                        app.$notify.error({
                            title: '错误',
                            message: data.message
                        });
                        return
                    }
                    if (app.option_data_result == 0) {
                        app.option_data_result = app.form.option_data.length - 1;
                    }
                    getList();

                    app.$notify.success({
                        title: '保存',
                        message: data.message
                    });

                });
            },
            preCmd: function () {

                var tmp = [];
                for (var i in app.form.option_data[app.option_data_result].cmd_option) {
                    if (app.form.option_data[app.option_data_result].cmd_option[i].value != "") {
                        tmp.push(app.form.option_data[app.option_data_result].cmd_option[i].pre_arg.replace("{$$}", app.form.option_data[app.option_data_result].cmd_option[i].value))
                    }
                }
                return [app.option_data_main_cmd].concat(tmp).join(" ");
            },
            showCmdOption: function (data) {
                var title = data.title;
                var cmd = data.cmd;
                app.cmd_option = [];
                app.option_data_result = 0;
                app.form = JSON.parse(JSON.stringify(data));
                app.form.option_data = data.option_data;

                app.cmd_option_title = title;
                app.show_cmd_option = true;
                var tmp = cmd.split("\n");
                console.log(tmp);
                app.option_data_main_cmd = tmp[0];
                for (var i = 1; i < tmp.length; i++) {
                    var pre_arg_and_name = tmp[i].split("//");
                    console.log(pre_arg_and_name);
                    if (pre_arg_and_name[1]) {
                        var value = false;
                        if (pre_arg_and_name[0].indexOf("{$$}") > -1) {
                            value = "";
                        }
                        app.cmd_option.push({
                            name: pre_arg_and_name[1].replace(/\\\//g, "/"),
                            pre_arg: pre_arg_and_name[0].replace(/\\\//g, "/"),
                            value: value,
                        });
                    }

                }


            },
            startCmd: function (cmd) {
                $.post("/Api/App/Cmd/start.json", {
                    cmd: cmd
                });
            },
            saveCmd: function () {
                var send_data = JSON.parse(JSON.stringify(app.form));
                send_data.option_data = JSON.stringify(app.form.option_data);
                $.post("/Api/App/Cmd/save.json", send_data, function (data) {
                    if (data.code != 0) {
                        app.$notify.error({
                            title: '错误',
                            message: data.message
                        });
                    }
                    getList();
                });
            },
            handleEdit: function (row) {
                app.form = JSON.parse(JSON.stringify(row));
                app.active_names = "1";
            },
            handleDelete: function (index, row) {
                $.post("/Api/App/Cmd/delete.json", JSON.parse(JSON.stringify(row)), function (data) {
                    if (data.code != 0) {
                        app.$notify.error({
                            title: '错误',
                            message: data.message
                        });
                    }
                    getList();
                });
            },
        }
    });


    function getList() {

        $.get("/Api/App/Cmd/get.json", function (data) {
            for (var i = 0; i < data.data.length; i++) {
                try {
                    data.data[i].option_data = JSON.parse(data.data[i].option_data)
                    if (data.data[i].option_data[0].name != "新增配置") {
                        data.data[i].option_data = [
                            {
                                name: "新增配置",
                                cmd_option: [],
                            }
                        ].concat(data.data[i].option_data);
                    }
                } catch (e) {
                    data.data[i].option_data = [
                        {
                            name: "新增配置",
                            cmd_option: [],
                        }
                    ]
                }
            }
            app.table_data = data.data;
        })
    }

    getList();
</script>

</body>
</html>